
html, body , div.app-container {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

* {
  position: relative;
}

.hidden {
  display: none !important;
}

div.app-container {
  > section.authorized {
    display: flex;
    flex-direction: column;
    height: 100%;

    > button {
      flex: 1 1 auto;
    }
  }
}
